@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

.residential-display {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: relative;

    img {
        padding: 0;
        width: 50%;
        height: 65vh;
    }

    .display-color {
        position: absolute;
        width: 100%;
        height: 65vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    p {
        position: absolute;
        width: fit-content;
        font-family: 'Playfair Display', sans-serif;
        font-size: 2.5rem;
        font-style: italic;
        font-weight: 700;
        color: whitesmoke;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.contemporary {

    .contemporary-head-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
        padding-top: 2rem;

        .contemporary-container {
            width: 60%;
            padding: 1rem;
            text-align: center;

            .contemporary-head {
                padding: 1.5rem;
                font-size: 2.5rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                margin-bottom: 0.4rem;
                color: #0C1446;
                border-top: 1px solid #90ADC6;
                border-bottom: 1px solid #90ADC6;
            }

            .contemporary-subhead {
                color: #1f5a61;
                font-size: 1.2rem;
                font-family: 'Poppins', sans-serif;
                font-style: italic;
                font-weight: 400;
                text-align: center;
                padding-top: 1rem;
            }
        }
    }
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    border-radius: 10px;
    margin: 0 15px;

    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

.minimalist {
    background-color: rgb(243, 243, 243);
    margin: 1rem 0;
    padding-bottom: 1.5rem;

    .minimalist-head-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
        padding-top: 2rem;

        .minimalist-container {
            width: 60%;
            padding: 1rem;
            text-align: center;

            .minimalist-head {
                padding: 1.5rem;
                font-size: 2.5rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                margin-bottom: 0.4rem;
                color: #0C1446;
                border-top: 1px solid #90ADC6;
                border-bottom: 1px solid #90ADC6;
            }

            .minimalist-subhead {
                color: #1f5a61;
                font-size: 1.2rem;
                font-family: 'Poppins', sans-serif;
                font-style: italic;
                font-weight: 400;
                text-align: center;
                padding-top: 1rem;
            }
        }
    }
}

.farmhouse {

    .farmhouse-head-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
        padding-top: 2rem;

        .farmhouse-container {
            width: 60%;
            padding: 1rem;
            text-align: center;

            .farmhouse-head {
                padding: 1.5rem;
                font-size: 2.5rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                margin-bottom: 0.4rem;
                color: #0C1446;
                border-top: 1px solid #90ADC6;
                border-bottom: 1px solid #90ADC6;
            }

            .farmhouse-subhead {
                color: #1f5a61;
                font-size: 1.2rem;
                font-family: 'Poppins', sans-serif;
                font-style: italic;
                font-weight: 400;
                text-align: center;
                padding-top: 1rem;
            }
        }
    }
}

.art {
    background-color: rgb(243, 243, 243);
    margin: 1rem 0;
    padding-bottom: 1.5rem;

    .art-head-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
        padding-top: 2rem;

        .art-container {
            width: 60%;
            padding: 1rem;
            text-align: center;

            .art-head {
                padding: 1.5rem;
                font-size: 2.5rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                margin-bottom: 0.4rem;
                color: #0C1446;
                border-top: 1px solid #90ADC6;
                border-bottom: 1px solid #90ADC6;
            }

            .art-subhead {
                color: #1f5a61;
                font-size: 1.2rem;
                font-family: 'Poppins', sans-serif;
                font-style: italic;
                font-weight: 400;
                text-align: center;
                padding-top: 1rem;
            }
        }
    }
}

.asian {

    .asian-head-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
        padding-top: 2rem;

        .asian-container {
            width: 60%;
            padding: 1rem;
            text-align: center;

            .asian-head {
                padding: 1.5rem;
                font-size: 2.5rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                margin-bottom: 0.4rem;
                color: #0C1446;
                border-top: 1px solid #90ADC6;
                border-bottom: 1px solid #90ADC6;
            }

            .asian-subhead {
                color: #1f5a61;
                font-size: 1.2rem;
                font-family: 'Poppins', sans-serif;
                font-style: italic;
                font-weight: 400;
                text-align: center;
                padding-top: 1rem;
            }
        }
    }
}

.typewriter {
    position: relative;
    height: 100px;
    width: 100%;
    margin-top: 150px;
    background-color: #2F5061;

    .best {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-family: 'Red Hat Display';
        font-weight: 700;
        color: #ECFDF1;
        width: 90%;
    }

    .contact {
        right: 5%;
        top: 30%;
        position: absolute;

        button {
            font-size: 1.2rem;
            font-weight: 400;
            padding: 10px;
            outline: none;
            border: 1px solid #ECFDF1;
            border-radius: 10px;
            background-color: #2F5061;
            color: #ECFDF1;
            cursor: pointer;

            &:hover {
                border: 1px solid #a4a5a4;
                color: #a4a5a4;
            }
        }
    }
}

.footer {
    background: url(../../images/footer.jpg);
    background-size: 100% 100%;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    display: flex;

    .footer-info {
        width: 50%;
        padding: 5% 3% 5% 20%;

        .logo-image {
            text-align: center;
            margin-bottom: 20px;

            img {
                width: 100px;
            }
        }

        p {
            padding: 0 15px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
        }
    }

    .services {
        width: 20%;
        padding: 6% 1% 5% 1%;

        .services-head {
            text-align: center;
            margin-bottom: 40px;
            font-size: 1.8rem;
            font-family: 'Poppins', sans-serif;
            color: #1b2d4b;
        }

        ul {
            list-style: none;

            li {
                text-align: center;
                margin-bottom: 5px;

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: 500;
                    font-family: 'Poppins', sans-serif;

                    &:hover {
                        color: #044662;
                    }
                }
            }
        }
    }

    .contact-us{
        width: 25%;
        padding: 6% 1% 5% 1%;

        .contact-head {
            text-align: center;
            margin-bottom: 40px;
            font-size: 1.8rem;
            font-family: 'Poppins', sans-serif;
            color: #1b2d4b;
        }

        .contacts{
            display: flex;
            margin-bottom: 20px;
            margin-left: 20px;

            .address{
                width: 50px;
                margin-right: 15px;
                margin-top: 5px;
            }

            .phone{
                margin-right: 15px;
                margin-top: 5px;
            }

            p{
                font-size: 1.1rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
            }
        }
    }
}
