@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Aref+Ruqaa+Ink:wght@700&family=Lato:ital,wght@0,400;1,100;1,300&family=Lobster+Two&family=Montserrat:wght@400;500&family=Pathway+Extreme:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

div#slider {
    overflow: hidden;

    figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 10s slidy infinite;
        opacity: 0.7;

        img {
            width: 20%;
            float: left;
            height: 100vh;
        }
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        color: rgb(24, 24, 24);
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }

    .small-text {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Lato', sans-serif;
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 700;
        color: rgb(62, 61, 61);
    }

    .btn {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        padding: 0.6% 1%;
        border-radius: 5px;
        background-color: rgb(4, 4, 49);
        color: white;
        box-shadow: 2px 2px 10px 5px grey;
        cursor: pointer;

        &:hover {
            background-color: rgb(8, 8, 92);
        }
    }
}

.info {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 30px;
    color: #042d3e;

    #we {
        color: #0a5260;
        text-decoration: underline;
    }
}

.cards {
    display: flex;
}

.card {
    width: 25%;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 3px 3px 10px 5px grey;

    &:hover{
        transform: scale(1.05);
    }

    img {
        opacity: 0.7;
        height: 350px;
    }
}

.card-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    width: 270px;
    font-weight: 700;
    color: #0C2D48;

    span {
        color: #650954;
    }
}

.card-info {
    position: absolute;
    height: 350px;
    visibility: hidden;
    opacity: 0;
    color: white;

    p {
        font-size: 1.2rem;
        width: 250px;
        margin: 85px 50px;
        text-align: center;
        letter-spacing: 0.08rem;

        button {
            font-size: 1.1rem;
            padding: 5px 10px;
            border-radius: 5px;
            border: none;
            outline: none;
            background-color: rgb(189, 218, 244);
            margin-top: 25px;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.card:hover .card-info {
    height: 350px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
}

.card:hover .card-head {
    display: none;
}

#second {
    width: 280px;
}

#third {
    width: 190px;
}

.display {
    margin: 4rem 0 0 0;
    background-color: rgb(243, 243, 243);

    .dis {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
        padding-top: 3rem;

        .disp {
            width: 60%;
            padding: 1rem;
            text-align: center;
            border-top: 1px solid #90ADC6;
            border-bottom: 1px solid #90ADC6;

            .display-head {
                font-size: 2.5rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                margin-bottom: 0.4rem;
                color: #0C1446;
            }

            .display-subhead {
                color: #1f5a61;
                font-size: 1.2rem;
                font-family: 'Poppins', sans-serif;
                font-style: italic;
                font-weight: 400;
                text-align: center;
            }
        }
    }

    .galleries{
        margin-left: 4rem;
        padding-bottom: 2rem;
    }

    .gallery-1 {
        position: relative;
        display: inline;
        cursor: pointer;

        #living-room {
            width: 45%;
            border-radius: 10px;

            &:hover{
                transform: scale(1.01);
            }
        }

        #living-head {
            position: absolute;
            bottom: 40%;
            left: 1%;
            font-size: 1.1rem;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            border: 0.2px solid rgba(55, 54, 54, 0.5);
            padding: 2px 10px;
            border-radius: 10px;
            background-color: rgba(55, 54, 54, 0.7);
            color: whitesmoke;
        }
    }

    .gallery-2 {
        position: relative;
        display: inline;
        cursor: pointer;

        #master-bedroom {
            width: 25%;
            height: 42.5vh;
            border-radius: 10px;
            margin-left: 10px;

            &:hover{
                transform: scale(1.01);
            }
        }

        #master-head {
            position: absolute;
            bottom: 30%;
            left: 4%;
            font-size: 1.1rem;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            border: 0.2px solid rgba(55, 54, 54, 0.5);
            padding: 2px 10px;
            border-radius: 10px;
            background-color: rgba(55, 54, 54, 0.7);
            color: whitesmoke;
        }
    }

    .gallery-3 {
        position: relative;
        display: inline;
        cursor: pointer;

        #balcony {
            width: 23%;
            height: 42.5vh;
            border-radius: 10px;
            margin-left: 10px;

            &:hover{
                transform: scale(1.01);
            }
        }

        #balcony-head {
            position: absolute;
            bottom: 30%;
            left: 4%;
            font-size: 1.1rem;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            border: 0.2px solid rgba(55, 54, 54, 0.5);
            padding: 2px 10px;
            border-radius: 10px;
            background-color: rgba(55, 54, 54, 0.7);
            color: whitesmoke;
        }
    }

    .gallery-4 {
        position: relative;
        display: inline;
        cursor: pointer;

        #pooja-room {
            width: 23%;
            height: 42.5vh;
            border-radius: 10px;
            margin-left: 2px;
            margin-top: 8px;

            &:hover{
                transform: scale(1.01);
            }
        }

        #pooja-head {
            position: absolute;
            bottom: 30%;
            left: 3%;
            font-size: 1.1rem;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            border: 0.2px solid rgba(55, 54, 54, 0.5);
            padding: 2px 10px;
            border-radius: 10px;
            background-color: rgba(55, 54, 54, 0.7);
            color: whitesmoke;
        }
    }

    .gallery-5 {
        position: relative;
        display: inline;
        cursor: pointer;

        #kitchen {
            width: 42%;
            height: 42.5vh;
            border-radius: 10px;
            margin-left: 10px;
            margin-top: 8px;

            &:hover{
                transform: scale(1.01);
            }
        }

        #kitchen-head {
            position: absolute;
            bottom: 40%;
            left: 3%;
            font-size: 1.1rem;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            border: 0.2px solid rgba(55, 54, 54, 0.5);
            padding: 2px 10px;
            border-radius: 10px;
            background-color: rgba(55, 54, 54, 0.7);
            color: whitesmoke;
        }
    }

    .gallery-6 {
        position: relative;
        display: inline;
        cursor: pointer;

        #wardrobe {
            width: 27.8%;
            height: 42.5vh;
            border-radius: 10px;
            margin-left: 10px;
            margin-top: 8px;

            &:hover{
                transform: scale(1.01);
            }
        }

        #wardrobe-head {
            position: absolute;
            bottom: 40%;
            left: 4%;
            font-size: 1.1rem;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            border: 0.2px solid rgba(55, 54, 54, 0.5);
            padding: 2px 10px;
            border-radius: 10px;
            background-color: rgba(55, 54, 54, 0.7);
            color: whitesmoke;
        }
    }
}

.choice {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;

    .choice-head {
        padding: 20px;
        font-weight: 700;
        color: #050A30;
        border-top: 1px solid #90ADC6;
        border-bottom: 2px solid #90ADC6;
        display: inline;
    }

    .container {
        position: relative;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .circular-image {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #EEEDE7;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        box-shadow: 1px 1px 10px 5px rgb(173, 172, 172);
        cursor: pointer;
    }

    .circular-image img {
        width: 100%;
        height: 100%;
    }

    .rotate {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #EEEDE7;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        left: 28%;
        top: 25%;
        animation: circle 10s infinite linear;
    }

    .light {
        width: 280px;
        position: absolute;
        text-align: center;
        font-family: 'Lato', sans-serif;
        background-color: #E9EAEC;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 5px rgb(184, 184, 184);

        h3 {
            margin-bottom: 5px;
            font-size: 1.2rem;
            border-bottom: 1px solid #90ADC6;
            padding-bottom: 5px;
        }

        p {
            text-align: left;
            color: #4e5f6d;
            font-size: 1rem;
        }

    }

    .interior {
        position: absolute;
        top: 0;
        left: 10%;
    }

    .dark {
        width: 280px;
        position: absolute;
        text-align: center;
        font-family: 'Lato', sans-serif;
        background-color: #E9EAEC;
        background-color: #3a4753;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 5px rgb(184, 184, 184);

        h3 {
            margin-bottom: 5px;
            font-size: 1.2rem;
            border-bottom: 1px solid #90ADC6;
            padding-bottom: 5px;
            color: #E9EAEC;
        }

        p {
            text-align: left;
            color: #F8EFE4;
            font-size: 1rem;
        }

    }

    .affordable {
        position: absolute;
        top: 41%;
        left: 3%;
    }

    .guaranteed {
        position: absolute;
        top: 72%;
        left: 10%;
    }

    .number {
        position: absolute;
        top: 0%;
        right: 10%;
    }

    .consultation {
        position: absolute;
        top: 41%;
        right: 3%;
    }

    .support {
        position: absolute;
        top: 75%;
        right: 10%;
    }
}

@keyframes circle {
    0% {
        top: 25%;
        left: 30%;
    }

    50% {
        top: 50%;
        left: 30.5%;
    }

    100% {
        top: 25%;
        left: 30%;
    }
}

.typewriter {
    position: relative;
    height: 100px;
    width: 100%;
    margin-top: 150px;
    background-color: #2F5061;

    .best {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-family: 'Red Hat Display';
        font-weight: 700;
        color: #ECFDF1;
        width: 90%;
    }

    .contact {
        right: 5%;
        top: 30%;
        position: absolute;

        button {
            font-size: 1.2rem;
            font-weight: 400;
            padding: 10px;
            outline: none;
            border: 1px solid #ECFDF1;
            border-radius: 10px;
            background-color: #2F5061;
            color: #ECFDF1;
            cursor: pointer;

            &:hover {
                border: 1px solid #a4a5a4;
                color: #a4a5a4;
            }
        }
    }
}

.footer {
    background: url(../../images/footer.jpg);
    background-size: 100% 100%;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    display: flex;

    .footer-info {
        width: 50%;
        padding: 5% 3% 5% 20%;

        .logo-image {
            text-align: center;
            margin-bottom: 20px;

            img {
                width: 100px;
            }
        }

        p {
            padding: 0 15px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
        }
    }

    .services {
        width: 20%;
        padding: 6% 1% 5% 1%;

        .services-head {
            text-align: center;
            margin-bottom: 40px;
            font-size: 1.8rem;
            font-family: 'Poppins', sans-serif;
            color: #1b2d4b;
        }

        ul {
            list-style: none;

            li {
                text-align: center;
                margin-bottom: 5px;

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: 500;
                    font-family: 'Poppins', sans-serif;

                    &:hover {
                        color: #044662;
                    }
                }
            }
        }
    }

    .contact-us{
        width: 25%;
        padding: 6% 1% 5% 1%;

        .contact-head {
            text-align: center;
            margin-bottom: 40px;
            font-size: 1.8rem;
            font-family: 'Poppins', sans-serif;
            color: #1b2d4b;
        }

        .contacts{
            display: flex;
            margin-bottom: 20px;
            margin-left: 20px;

            .address{
                width: 50px;
                margin-right: 15px;
                margin-top: 5px;
            }

            .phone{
                margin-right: 15px;
                margin-top: 5px;
            }

            p{
                font-size: 1.1rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
            }
        }
    }
}