@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Slab:wght@300;400;500;600;700&display=swap");
.services-display {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: relative;
}
.services-display img {
  padding: 0;
  width: 50%;
  height: 65vh;
}
.services-display .display-color {
  position: absolute;
  width: 100%;
  height: 65vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.services-display p {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Playfair Display", sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 700;
  color: whitesmoke;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.type-name {
  padding-bottom: 2.5rem;
}
.type-name .type-head-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding-top: 1rem;
}
.type-name .type-head-container .type-container {
  width: 60%;
  padding: 1rem;
  text-align: center;
}
.type-name .type-head-container .type-container .type-head {
  padding: 1.5rem;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: #0C1446;
  border-top: 1px solid #90ADC6;
  border-bottom: 1px solid #90ADC6;
}
.type-name .type-head-container .type-container .type-subhead {
  color: #1f5a61;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  padding-top: 1rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  border-radius: 10px;
  margin: 0 15px;
}
.item:hover {
  transform: scale(1.01);
}
.item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.even-type-div {
  background-color: #ebeaea;
}
.even-type-div .even-type-head-container .even-type-container .even-type-head {
  color: #490909;
  border-top: 1px solid #774949;
  border-bottom: 1px solid #774949;
}
.even-type-div .even-type-head-container .even-type-container .even-type-subhead {
  color: #b36262;
}

.services-typewriter {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #2F5061;
}
.services-typewriter .services-best {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: "Red Hat Display";
  font-weight: 700;
  color: #ECFDF1;
  width: 90%;
}
.services-typewriter .services-contact {
  right: 5%;
  top: 30%;
  position: absolute;
}
.services-typewriter .services-contact button {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px;
  outline: none;
  border: 1px solid #ECFDF1;
  border-radius: 10px;
  background-color: #2F5061;
  color: #ECFDF1;
  cursor: pointer;
}
.services-typewriter .services-contact button:hover {
  border: 1px solid #a4a5a4;
  color: #a4a5a4;
}

.services-footer {
  background: url(../images/footer.jpg);
  background-size: 100% 100%;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  display: flex;
}
.services-footer .services-footer-info {
  width: 50%;
  padding: 5% 3% 5% 20%;
}
.services-footer .services-footer-info .services-logo-image {
  text-align: center;
  margin-bottom: 20px;
}
.services-footer .services-footer-info .services-logo-image img {
  width: 100px;
}
.services-footer .services-footer-info p {
  padding: 0 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.services-footer .services-services {
  width: 20%;
  padding: 6% 1% 5% 1%;
}
.services-footer .services-services .services-services-head {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: #1b2d4b;
}
.services-footer .services-services ul {
  list-style: none;
}
.services-footer .services-services ul li {
  text-align: center;
  margin-bottom: 5px;
}
.services-footer .services-services ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.services-footer .services-services ul li a:hover {
  color: #044662;
}
.services-footer .services-contact-us {
  width: 25%;
  padding: 6% 1% 5% 1%;
}
.services-footer .services-contact-us .services-contact-head {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: #1b2d4b;
}
.services-footer .services-contact-us .services-contacts {
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
}
.services-footer .services-contact-us .services-contacts .services-address {
  width: 50px;
  margin-right: 15px;
  margin-top: 5px;
}
.services-footer .services-contact-us .services-contacts .services-phone {
  margin-right: 15px;
  margin-top: 5px;
}
.services-footer .services-contact-us .services-contacts p {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.rec.rec-arrow-left {
  margin-left: 15px;
}

.rec.rec-arrow-right {
  margin-right: 15px;
}/*# sourceMappingURL=Services.css.map */